body{
    background-color: burlywood;
}

.name
{
    font-size:1.1cm;
font-weight: bolder;
}

.position
{
    font-size: 0.9cm;
    font-style: italic;
    font-weight: bolder;
}
.age
{
    font-weight: bolder;
    font-size:0.6cm;
}
.all
{
   margin-left:1cm;
   margin-right: 38;
   margin-bottom: 1cm;
   background-color: whitesmoke;
   padding:1cm;
 position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0, 0,0,2);
  
}
.btn
{
    color: rgb(27, 27, 26);
    font-weight:bolder;
    width: 40%;
   font-size: 0.5cm;
    box-shadow: 0px 8px 16px 0px rgba(0, 0,0,2);
  
}
p
{
   
    margin-bottom: 1cm;
    font-size: 50px;
    margin-left: 10cm;
    font-weight: bolder;
    font-style: italic;
    font-variant-caps: small-caps;
  
   
}
.photo
{
  margin-left: 0.5cm;
    height:5cm;
     width:5cm;
    

     
}